<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var currentuserid = {{ user.id }};
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    <title>{% block title %}Base{% endblock %}</title>
    <style>
      .bubble {
          width: 50px; /* Default width */
          height: 50px; /* Default height */
          border-radius: 50%;
          display: inline-block;
          margin: 5px;
          position: relative;
          cursor: pointer;
      }
      .tooltiptext {
          visibility: hidden;
          width: auto;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
      }
      .nav-item nav-link:hover .tooltiptext {
          visibility: visible;
      }
      .dropdown-item:hover .tooltiptext {
          visibility: visible;
      }
      .bubble:hover .tooltiptext {
          visibility: visible;
      }
    </style>
  </head>
  <body>
    <nav id='navbar' class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">  <!-- if click on icon then return to home page -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo"> <!-- Add the logo image here -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-item nav-link" id="home" href="/" title="Go to Dashboard of SMS">&#x1F3E0; Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout" title="Log out from the site">&#x1F6AA; Logout</a>
            <!-- Add this part to display the user's first name -->
            <div class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle account-img" src="/static/profile_pics/{{ user.image_file }}" class="avatar avatar-sm" style="width:20px;height:20px;">
                {{ user.first_name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/display_user/" title="View your profile as everyone will see it" onclick=
                "location.href=this.href+currentuserid;return false;"><img class="rounded-circle account-img" src="/static/profile_pics/{{ user.image_file }}" class="avatar avatar-sm" style="width:20px;height:20px;"> View My Summary</a>
                <a class="dropdown-item" href="/proficiency_spider/" title="View your proficiency for all skills in radar chart" onclick=
                "location.href=this.href+currentuserid;return false;" >&#x1F578; View My Radar Chart</a>
                <a class="dropdown-item" href="/user_sunburst/" title="View your proficiency for all skills in sunburst chart" onclick=
                "location.href=this.href+currentuserid;return false;">&#x2742; View My Sunburst Chart</a>
                <a class="dropdown-item" href="/account" title="Modify your information including picture">&#x1F5BA; Edit My Account</a>
                <a class="dropdown-item" href="/user_proficiencies" title="Edit your proficiencies in a table">&#x1F39A; Edit My Proficiencies</a>
                <a class="dropdown-item" href="/qualifications" title="Edit your qualifications">&#x1F393; Edit My Qualifications</a>
              </div>
            </div>
            <!-- End of user's first name display -->
            <!-- Add this part to display directories -->
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="directoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &#x1F4C7; Directories
              </a>
              <div class="dropdown-menu" aria-labelledby="directoryDropdown">
                <a class="dropdown-item" href="/locations">&#x1F6A9; Locations Directory</a>
                <a class="dropdown-item" href="/skills_directory">&#x1F3C5; Skills Directory</a>
                <a class="dropdown-item" href="/people">&#x1F46A; People Directory</a>
                <a class="dropdown-item" href="/skills">&#x2B50; Skills</a>
                <a class="dropdown-item" href="/continents">&#x1F30D; Continents</a>
                <a class="dropdown-item" href="/countries">&#x1F3F4; Countries</a>
                <a class="dropdown-item" href="/cities">&#x1F3F0; Cities</a>
                <a class="dropdown-item" href="/globe">&#x1F310; Globe</a>
                <!-- Add other directories -related links if needed -->
              </div>
            </div>
            <a class="nav-item nav-link" id="proficiencies" href="/proficiencies" title="Matrix with all users, with all skills">&#x1F39A; Proficiencies</a>
            <a class="nav-item nav-link" id="peolple_finder" href="/people_finder" title="Search for people with given skillset">&#x1F50E; People Finder</a>
            <a class="nav-item nav-link" id="bubble_chart" href="/bubble_chart" title="Display skills in bubble chart">&#x2B50; Skills Popularity</a>
            <a class="nav-item nav-link" id="bubble_chart" href="/sunburst" title="Display skills in sunburst chart">&#x1F3C5; Expertise Overview</a>
          {% else %}
            <a class="nav-item nav-link" id="login" href="/login">&#x1F511; Login</a>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">&#x1F58B; Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <style>h1 {text-align: center;}</style>

{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/note";
  });
  }
</script>
<script>
  $(document).ready(function () {
    $('[data-toggle="dropdown"]').dropdown();
  });
</script>
{% endblock %}
  </body>
</html>