{% extends "base.html" %}

{% block title %}
  Bubble_Chart
{% endblock %}

{% block content %}

    <h1>Skills Popularity</h1>
    <pre>
        This bubble chart displays all skills where there are users who have at least the selected minimum proficiency.
        The bigger, the more users with the selected proficiency.
    </pre>
<form action="{{ url_for('views.bubble_chart') }}" method="post">
        <input type="radio" name="proficiency" value="2" {% if selected_proficiency == 2 %}checked{% endif %}><span style = "background-color:#0A37A6 ; color:#FFFFFF; font-size: 0.875em">&nbsp; 2-Beginner / Learn &nbsp;</span>
        &nbsp;
        <input type="radio" name="proficiency" value="3" {% if selected_proficiency == 3 %}checked{% endif %}><span style = "background-color:#007DFF ; color:#FFFFFF; font-size: 0.875em">&nbsp; 3-Intermediate / Deliver &nbsp;</span>
        &nbsp;
        <input type="radio" name="proficiency" value="4" {% if selected_proficiency == 4 %}checked{% endif %}><span style = "background-color:#0CA4EB ; color:#FFFFFF; font-size: 0.875em">&nbsp; 4-Advanced / Perform &nbsp;</span>
        &nbsp;
        <input type="radio" name="proficiency" value="5" {% if selected_proficiency == 5 %}checked{% endif %}><span style = "background-color:#0DE0FF ; color:#FFFFFF; font-size: 0.875em">&nbsp; 5-Expert / Coach &nbsp;</span>
        &nbsp;
        <input type="submit" value="Update Chart">
    </form>

<form action="{{ url_for('views.bubble_chart') }}" method="post">
    <label for="group">Filter by Group:</label>
    <select name="group" id="group">
        <option value="">All Groups</option>
        {% for group in skill_groups %}
            <option value="{{ group.group_id }}">{{ group.group_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Apply Group Filter">
</form>
    <br>
    <br>
    <div id="bubbleChart">
        <!-- Your bubbles here -->
        {% for skill, user_count in bubble_data.items() %}
            <div class="bubble" style="width: {{ user_count }}0px; height: {{ user_count }}0px;">
                <span class="tooltiptext">{{ skill }} , {{ user_count }}</span>
            </div>
        {% endfor %}
    </div>
    <!-- Include any necessary JavaScript libraries -->

    <style>
        .bubble {
            {% if selected_proficiency == 2 %}background-color:#0A37A6{% endif %}
            {% if selected_proficiency == 3 %}background-color:#007DFF{% endif %}
            {% if selected_proficiency == 4 %}background-color:#0CA4EB{% endif %}
            {% if selected_proficiency == 5 %}background-color:#0DE0FF{% endif %}
            /* Other CSS properties */
        }
    </style>

{% endblock %}
