{% extends "base.html" %}

{% block title %}
    Continents
{% endblock %}

{% block content %}
    <h1 align="center">Continents</h1>
    <ul class="list-group list-group-flush" id="continents">
        {% for continent in continents %}
            <li class="list-group-item">
                {{ continent.continent_name }}
                <!-- You can add buttons or links for further actions related to continents -->
            </li>
        {% endfor %}
    </ul>
    <!-- You can add forms or links to add new continents or perform other actions -->
{% endblock %}
