{% extends "base.html" %}

{% block title %}
    Countries
{% endblock %}

{% block content %}
    <h1 align="center">{{ countries|length }} Countries</h1>
    <style>
        p {text-align: center;}
    </style>
    <p>Distribution of the {{ list_all_users|length }} registered users by countries</p>
    <div id="responsive-chart" style="height: 300px;">
        <canvas id="usersCountriesPieChart" ></canvas>
    </div>

    <ul class="list-group list-group-flush" id="countries">
        {% for country in countries %}
            <li class="list-group-item">
                {{ country.country_name }} - {{ get_continent_name(country.parent_continent_id) }}
                - {{ country.country_members|length }} Users
                <!-- You can add buttons or links for further actions related to countries -->
            </li>
        {% endfor %}
    </ul>
    <!-- You can add forms or links to add new countries or perform other actions -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var ctx = document.getElementById('usersCountriesPieChart').getContext('2d');
            var data = {
                labels: [{% for country in countries %}"{{ country.country_name }}",{% endfor %}],
                datasets: [{
                    data: [{% for country in countries %}{{ country.country_members|length }},{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.8)',
                        'rgba(75, 192, 192, 0.8)',
                        'rgba(153, 102, 255, 0.8)',
                        'rgba(255, 159, 64, 0.8)',
                        'rgba(0, 128, 255, 0.8)',
                        'rgba(34, 139, 34, 0.8)',
                        'rgba(255, 165, 0, 0.8)',
                        'rgba(128, 0, 128, 0.8)',
                        'rgba(255, 0, 0, 0.8)',
                        'rgba(0, 255, 0, 0.8)',
                        'rgba(255, 192, 203, 0.8)',
                        'rgba(75, 0, 130, 0.8)',
                        'rgba(255, 215, 0, 0.8)',
                        'rgba(0, 0, 255, 0.8)',
                        'rgba(128, 128, 0, 0.8)',
                        'rgba(255, 69, 0, 0.8)',
                        'rgba(0, 255, 255, 0.8)',
                        'rgba(145, 0, 145, 0.8)',
                        'rgba(70, 130, 180, 0.8)',
                        'rgba(255, 20, 147, 0.8)',
                        'rgba(173, 216, 230, 0.8)',
                        'rgba(128, 0, 0, 0.8)'
                    ],
                }]
            };
            var options = {
                responsive: true,
                maintainAspectRatio: false
            };
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: options
            });
        });
    </script>

    {% endblock %}
