{% extends "base.html" %}
{% block title %}
  Home
{% endblock %}
{% block content %}

    <h1 align="center">Dashboard</h1>
    <br>
    <h2>Welcome to Skills Management Software (SMS).</h2>
    <br>
    SMS Objective n¤1: as a project manager, I want to find a consultant with the appropriate skillset, so that I can staff my project.
    <br>
    SMS Objective n¤2: as a consultant, I want to find an expert in a domain, so that I can get ponctual help.
    <br>
    SMS Objective n¤3: as a supervisor, I want to know skills in my team, so that I can build my team and follow its progress.
    <br>
    <br>

    <button class="btn btn-danger" title="Edit your proficiencies in a table" onclick="window.location.href='/user_proficiencies'">
      &#x1F39A; Edit My Proficiencies
    </button>
    <button class="btn btn-warning" title="Modify your information including picture" onclick="window.location.href='/account'">
      &#x1F5BA; Edit My Account
    </button>
    <button class="btn btn-primary" title="Search for people with given skillset" onclick="window.location.href='/people_finder'">
      &#x1F50E; People Finder
    </button>
    <button class="btn btn-primary" title="Matrix with all users, with all skills" onclick="window.location.href='/proficiencies'">
      &#x1F39A; Proficiency Matrix
    </button>
    <br>
    <br>
    <div class="container-fluid">

      <!--     ...      FIRST ROW     ...      -->
      <div class="row">

        <!-- Card first row, first column -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users|length }}</div>
                </div>
                <div class="col-auto">
                  <div class="h2 mb-0 font-weight-bold text-gray-800">&#x1F46A;</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card first row, second colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cities</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cities|length }}</div>
                </div>
                <div class="col-auto">
                  <div class="h2 mb-0 font-weight-bold text-gray-800">&#x1F3F0;</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card first row, third colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Countries</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countries|length }}</div>
                </div>
                <div class="col-auto">
                  <div class="h2 mb-0 font-weight-bold text-gray-800">&#x1F3F4;</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card first row, fourth colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Skills</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ skills|length }}</div>
                </div>
                <div class="col-auto">
                  <div class="h2 mb-0 font-weight-bold text-gray-800">&#x2B50;</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--     ...      SECOND ROW     ...      -->
      <div class="row">

        <!-- Card second row, first colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Skills with experts (level five)</div>
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">50 / 50</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">70%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card second row, second colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completed Assessments (no zero)</div>
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">50 / 50</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card second row, third colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Logged In during the last 30 days</div>
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">50 / 50</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">90%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card second row, fourth colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Percentage Percentage</div>
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">50 / 50</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--     ...      THIRD ROW     ...      -->
      <div class="row">

        <!-- Card third row, first colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Top 10 Skills</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">most users 4 & 5</div>
                    </div>
                    <div class="col">
                      <div>
                        <br>
                        <ol>
                          <li>TVC</li>
                          <li>Windchill</li>
                          <li>English</li>
                          <li>Scrum</li>
                          <li>French</li>
                          <li>CPG</li>
                          <li>enovia</li>
                          <li>Catia</li>
                          <li>Delmia</li>
                          <li>Sport</li>
                        </ol> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card third row, second colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Bottom 10 Skills</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">less users 4 & 5</div>
                    </div>
                    <div class="col">
                      <div>
                        <br>
                        <ol>
                          <li>TVC</li>
                          <li>Windchill</li>
                          <li>English</li>
                          <li>Scrum</li>
                          <li>French</li>
                          <li>CPG</li>
                          <li>enovia</li>
                          <li>Catia</li>
                          <li>Delmia</li>
                          <li>Sport</li>
                        </ol> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card third row, third colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TOp 10 Users</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">full assessment & last login</div>
                    </div>
                    <div class="col">
                      <div>
                        <br>
                        <ol>
                          <li>TVC</li>
                          <li>Windchill</li>
                          <li>English</li>
                          <li>Scrum</li>
                          <li>French</li>
                          <li>CPG</li>
                          <li>enovia</li>
                          <li>Catia</li>
                          <li>Delmia</li>
                          <li>Sport</li>
                        </ol> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card third row, fourth colum -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Top 10 Countries</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">with most users</div>
                    </div>
                    <div class="col">
                      <div>
                        <br>
                        <ol>
                          <li>TVC</li>
                          <li>Windchill</li>
                          <li>English</li>
                          <li>Scrum</li>
                          <li>French</li>
                          <li>CPG</li>
                          <li>enovia</li>
                          <li>Catia</li>
                          <li>Delmia</li>
                          <li>Sport</li>
                        </ol> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!--     ...      FOURTH ROW     ...      -->

      <div class="row">

        <!-- Picture of SKills Directory -->
        <div class="col-xl-8 col-lg-7">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Skills Directory</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div class="text-xs font-weight-bold text-info mb-1 align-items-center justify-content-between">
                <h6>Areas,&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Categories, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Groups, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Skills</h6>
              </div>
              <div>
                  <img src="{{ url_for('static', filename='skills_directory.png') }}" alt="skills_directory">
              </div>
            </div>
          </div>
        </div>

        <!-- Half Donut Chart as legend of Proficiency Levels -->
        <div class="col-xl-4 col-lg-5">
          <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Proficiency Scale / SkillMeter</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
              <div>
                <img src="{{ url_for('static', filename='proficiency_levels.png') }}" alt="skills_directory">
              </div>
              <p style="line-height: 1.8;">
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:black ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  0=I didn’t evaluate this yet. Perhaps I'am good, perhaps I'm bad at it.
                </div>
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:#05106E ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  1=I don’t even know what this is.
                </div>
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:#0A37A6 ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  2=I’ve done this a few times and I’m familiar, but I still need supervision.
                </div>
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:#007DFF ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  3=I’ve done this multiple times and can do this well, with only seldom expert support.
                </div>
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:#0CA4EB ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  4=I’ve done this in multiple companies, industries, and can design and lead a project. I can conduct a training.
                </div>
                <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:#0DE0FF ; color:#FFFFFF;margin-left:0;padding:5px;text-align:center;font-size: 0.65em;">
                  5=I’m a global expert at this and I could “write the book” or “teach a masterclass” on this.
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container-fluid -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Creapto 2023</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->
<br>
{% endblock %}