{% extends "base.html" %}
{% block title %}
  Note
{% endblock %}
{% block content %}

    <h1 align="center">Enhancement Requests from {{ user.first_name }} {{ user.last_name }}</h1>
    <br>
    Please write here your suggestions how this tool could be improved. Thank you.
    <br>
    <br>
    <button class="btn btn-secondary" title="Show all registered enhancement requests." onclick="window.location.href='/backlog'">
      &#x1F4A1; Show backlog
    </button>
    <br>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Enhancement Request</button>
      </div>
    </form>
{% endblock %}