{% extends "base.html" %}

{% block title %}
  People_Finder
{% endblock %}

{% block content %}

    <h1>People Finder</h1>
    <br>
    <form method="post">
        <label for="skill1">skilled in: </label>
        <select name="skill1" id="skill1">
            {% for skill in skills %}
                <option value="{{ skill.skill_id }}" {% if skill.skill_id == selected_skill_1 %} selected {% endif %}>
                    {{ skill.skill_name }}
                </option>
            {% endfor %}
        </select>
        <label for="min_proficiency1"> with a proficiency of at least: </label>
        <select name="min_proficiency1" id="min_proficiency1">
            {% for level in range(6) %}
                <option value="{{ level }}" {% if level == selected_min_proficiency_1 %} selected {% endif %}>
                    {% if level == 0 %} ignore this skill {% endif %}
                    {% if level == 1 %} 1 - No Awareness {% endif %}
                    {% if level == 2 %} 2 - Beginner / Learn {% endif %}
                    {% if level == 3 %} 3 - Intermediate / Deliver {% endif %}
                    {% if level == 4 %} 4 - Advanced / Perform {% endif %}
                    {% if level == 5 %} 5 - Expert / Coach {% endif %}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="skill1">skilled in: </label>
        <select name="skill2" id="skill2">
            {% for skill in skills %}
                <option value="{{ skill.skill_id }}" {% if skill.skill_id == selected_skill_2 %} selected {% endif %}>
                    {{ skill.skill_name }}
                </option>
            {% endfor %}
        </select>
        <label for="min_proficiency2"> with a proficiency of at least: </label>
        <select name="min_proficiency2" id="min_proficiency2">
            {% for level in range(6) %}
                <option value="{{ level }}" {% if level == selected_min_proficiency_2 %} selected {% endif %}>
                    {% if level == 0 %} ignore this skill {% endif %}
                    {% if level == 1 %} 1 - No Awareness {% endif %}
                    {% if level == 2 %} 2 - Beginner / Learn {% endif %}
                    {% if level == 3 %} 3 - Intermediate / Deliver {% endif %}
                    {% if level == 4 %} 4 - Advanced / Perform {% endif %}
                    {% if level == 5 %} 5 - Expert / Coach {% endif %}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="skill13">skilled in: </label>
        <select name="skill3" id="skill3">
            {% for skill in skills %}
                <option value="{{ skill.skill_id }}" {% if skill.skill_id == selected_skill_3 %} selected {% endif %}>
                    {{ skill.skill_name }}
                </option>
            {% endfor %}
        </select>
        <label for="min_proficiency3"> with a proficiency of at least: </label>
        <select name="min_proficiency3" id="min_proficiency3">
            {% for level in range(6) %}
                <option value="{{ level }}" {% if level == selected_min_proficiency_3 %} selected {% endif %}>
                    {% if level == 0 %} ignore this skill {% endif %}
                    {% if level == 1 %} 1 - No Awareness {% endif %}
                    {% if level == 2 %} 2 - Beginner / Learn {% endif %}
                    {% if level == 3 %} 3 - Intermediate / Deliver {% endif %}
                    {% if level == 4 %} 4 - Advanced / Perform {% endif %}
                    {% if level == 5 %} 5 - Expert / Coach {% endif %}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="skill4">skilled in: </label>
        <select name="skill4" id="skill4">
            {% for skill in skills %}
                <option value="{{ skill.skill_id }}" {% if skill.skill_id == selected_skill_4 %} selected {% endif %}>
                    {{ skill.skill_name }}
                </option>
            {% endfor %}
        </select>
        <label for="min_proficiency4"> with a proficiency of at least: </label>
        <select name="min_proficiency4" id="min_proficiency4">
            {% for level in range(6) %}
                <option value="{{ level }}" {% if level == selected_min_proficiency_4 %} selected {% endif %}>
                    {% if level == 0 %} ignore this skill {% endif %}
                    {% if level == 1 %} 1 - No Awareness {% endif %}
                    {% if level == 2 %} 2 - Beginner / Learn {% endif %}
                    {% if level == 3 %} 3 - Intermediate / Deliver {% endif %}
                    {% if level == 4 %} 4 - Advanced / Perform {% endif %}
                    {% if level == 5 %} 5 - Expert / Coach {% endif %}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="skill5">skilled in: </label>
        <select name="skill5" id="skill5">
            {% for skill in skills %}
                <option value="{{ skill.skill_id }}" {% if skill.skill_id == selected_skill_5 %} selected {% endif %}>
                    {{ skill.skill_name }}
                </option>
            {% endfor %}
        </select>
        <label for="min_proficiency5"> with a proficiency of at least: </label>
        <select name="min_proficiency5" id="min_proficiency5">
            {% for level in range(6) %}
                <option value="{{ level }}" {% if level == selected_min_proficiency_5 %} selected {% endif %}>
                    {% if level == 0 %} ignore this skill {% endif %}
                    {% if level == 1 %} 1 - No Awareness {% endif %}
                    {% if level == 2 %} 2 - Beginner / Learn {% endif %}
                    {% if level == 3 %} 3 - Intermediate / Deliver {% endif %}
                    {% if level == 4 %} 4 - Advanced / Perform {% endif %}
                    {% if level == 5 %} 5 - Expert / Coach {% endif %}
                </option>
            {% endfor %}
        </select>
        <br>

        <button type="submit">Find</button>
    </form>

    {% if users %}
        <br>
        <h3>{{ users|length }} Matching Users:</h3>
        <ul>
            {% for user in users %}
                <li>
                    <img class="rounded-circle account-img" src="/static/profile_pics/{{ user.image_file }}" class="avatar avatar-sm" style="width:30px;height:30px;">
                    {{ user.first_name }} {{ user.last_name }} - from: {{ get_city_name_from_user(user.from_city_id) }} , <a href="{{ url_for('views.display_user', user_id=user.id) }}"> go to user profile</a>
                    {% if selected_min_proficiency_1 != 0 %}
                        <br>&nbsp; &nbsp; &nbsp;
                        {% if user.proficiency_for_skill(selected_skill_1) == 5 %}<span style = "background-color:#0DE0FF ; color:#FFFFFF">&nbsp;5&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_1) == 4 %}<span style = "background-color:#0CA4EB ; color:#FFFFFF">&nbsp;4&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_1) == 3 %}<span style = "background-color:#007DFF ; color:#FFFFFF">&nbsp;3&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_1) == 2 %}<span style = "background-color:#0A37A6 ; color:#FFFFFF">&nbsp;2&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_1) == 1 %}<span style = "background-color:#05106E ; color:#FFFFFF">&nbsp;1&nbsp;</span>{% endif %}
                        {% for skill in skills %}
                        {% if skill.skill_id == selected_skill_1 %}  {{ skill.skill_name }} {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if selected_min_proficiency_2 != 0 %}
                        <br>&nbsp; &nbsp; &nbsp;
                        {% if user.proficiency_for_skill(selected_skill_2) == 5 %}<span style = "background-color:#0DE0FF ; color:#FFFFFF">&nbsp;5&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_2) == 4 %}<span style = "background-color:#0CA4EB ; color:#FFFFFF">&nbsp;4&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_2) == 3 %}<span style = "background-color:#007DFF ; color:#FFFFFF">&nbsp;3&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_2) == 2 %}<span style = "background-color:#0A37A6 ; color:#FFFFFF">&nbsp;2&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_2) == 1 %}<span style = "background-color:#05106E ; color:#FFFFFF">&nbsp;1&nbsp;</span>{% endif %}
                        {% for skill in skills %}
                        {% if skill.skill_id == selected_skill_2 %}  {{ skill.skill_name }} {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if selected_min_proficiency_3 != 0 %}
                        <br>&nbsp; &nbsp; &nbsp;
                        {% if user.proficiency_for_skill(selected_skill_3) == 5 %}<span style = "background-color:#0DE0FF ; color:#FFFFFF">&nbsp;5&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_3) == 4 %}<span style = "background-color:#0CA4EB ; color:#FFFFFF">&nbsp;4&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_3) == 3 %}<span style = "background-color:#007DFF ; color:#FFFFFF">&nbsp;3&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_3) == 2 %}<span style = "background-color:#0A37A6 ; color:#FFFFFF">&nbsp;2&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_3) == 1 %}<span style = "background-color:#05106E ; color:#FFFFFF">&nbsp;1&nbsp;</span>{% endif %}
                        {% for skill in skills %}
                        {% if skill.skill_id == selected_skill_3 %}  {{ skill.skill_name }} {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if selected_min_proficiency_4 != 0 %}
                        <br>&nbsp; &nbsp; &nbsp;
                        {% if user.proficiency_for_skill(selected_skill_4) == 5 %}<span style = "background-color:#0DE0FF ; color:#FFFFFF">&nbsp;5&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_4) == 4 %}<span style = "background-color:#0CA4EB ; color:#FFFFFF">&nbsp;4&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_4) == 3 %}<span style = "background-color:#007DFF ; color:#FFFFFF">&nbsp;3&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_4) == 2 %}<span style = "background-color:#0A37A6 ; color:#FFFFFF">&nbsp;2&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_4) == 1 %}<span style = "background-color:#05106E ; color:#FFFFFF">&nbsp;1&nbsp;</span>{% endif %}
                        {% for skill in skills %}
                        {% if skill.skill_id == selected_skill_4 %}  {{ skill.skill_name }} {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if selected_min_proficiency_5 != 0 %}
                        <br>&nbsp; &nbsp; &nbsp;
                        {% if user.proficiency_for_skill(selected_skill_5) == 5 %}<span style = "background-color:#0DE0FF ; color:#FFFFFF">&nbsp;5&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_5) == 4 %}<span style = "background-color:#0CA4EB ; color:#FFFFFF">&nbsp;4&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_5) == 3 %}<span style = "background-color:#007DFF ; color:#FFFFFF">&nbsp;3&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_5) == 2 %}<span style = "background-color:#0A37A6 ; color:#FFFFFF">&nbsp;2&nbsp;</span>{% endif %}
                        {% if user.proficiency_for_skill(selected_skill_5) == 1 %}<span style = "background-color:#05106E ; color:#FFFFFF">&nbsp;1&nbsp;</span>{% endif %}
                        {% for skill in skills %}
                        {% if skill.skill_id == selected_skill_5 %}  {{ skill.skill_name }} {% endif %}
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
