{% extends "base.html" %}

{% block title %}
    ProficiencyMatrix
{% endblock %}


{% block content %}
<h1 align="center">Proficiency Matrix</h1>
    <table id="proficiencyMatrix" class="display">
        <thead>
            <tr>
                <th>User</th>
                <!-- Loop through the skills to create columns -->
                {% for a_skill in list_all_skills %}
                    <th>{{ a_skill.skill_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the users to create rows -->
            {% for a_user in list_all_users %}
                <tr>
                    <td>{{ a_user.first_name }}</td>
                    <!-- Loop through the skills to populate proficiency values -->
                    {% for a_skill in list_all_skills %}
                        <td data-value="{{ matrix.at[a_user.id,a_skill.skill_id] }}">{{ matrix.at[a_user.id,a_skill.skill_id] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
    <script>
        // Initialize DataTables
        $(document).ready(function () {
            $('#proficiencyMatrix').DataTable();
        });
    </script>
{% endblock %}