{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %}

{% block content %}
    <form method="POST">
      <h3 align="center">Sign Up</h3>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          name="lastName"
          placeholder="Enter last name"
        />
      </div>
      <div class="form-group">
        <label for="profile">Profile</label>
        <select class="form-control" name="profile" id="profile">
          <option value="EMPLOYEE">Employee</option>
          <option value="MANAGER">Manager (if you are supervisor of employees)</option>
          <option value="ADMIN">Administrator (if you will administer this tool)</option>
        </select>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <select class="form-control" name="city" id="city">
            <!-- Add options dynamically based on your database values -->
            {% for city in cities %}
                <option value="{{ city.city_id }}">{{ city.city_name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endblock %}