{% extends "base.html" %}

{% block title %}
  Skills_Directory
{% endblock %}

{% block content %}

  <style>
    /* Add your CSS styles for the tree view here */
    .tree {
      list-style-type: none;
      padding: 0;
    }

    .tree-node {
      margin: 10px 0;
    }

    .tree-node-collapsed .tree-children {
      display: none;
    }

    .tree-node-toggle {
      cursor: pointer;
      margin-right: 5px;
    }
  </style>

  <h1>Skills Directory</h1>
  <pre>Areas, Categories and Groups enable to organize similar types of skills together.
It also facilitates vizualization by filtering on a group or category.</pre>
  <a href="{{ url_for('views.home') }}" class="btn btn-info">{{ areas|length }}</a> &#x1F3E2; areas, <a href="{{ url_for('views.home') }}" class="btn btn-info">{{ categories|length }}</a> &#x1F4BC; categories, <a href="{{ url_for('views.home') }}" class="btn btn-info">{{ groups|length }}</a> &#x1F4C1; group of skills, <a href="{{ url_for('views.home') }}" class="btn btn-info">{{ skills|length }}</a> &#x2B50; skills
  <br>
  <br>

  <ul class="tree">
    <li class="tree-node">
      <span class="tree-node-toggle" onclick="toggleNode(this)">&#x25B6;</span>
      Skills Directory
      <ul class="tree-children" style="list-style-type:'\1F3E2'">
        {% for area in areas %}
          <li class="tree-node">
            <span class="tree-node-toggle" onclick="toggleNode(this)">&#x25B6;</span>
            {{ area.area_name }}
            {% if area.child_categories %}
              <ul class="tree-children" style="list-style-type:'\1F4BC'">
                {% for category in area.child_categories %}
                  <li class="tree-node">
                    <span class="tree-node-toggle" onclick="toggleNode(this)">&#x25B6;</span>
                    {{ category.category_name }}
                    {% if category.child_groups %}
                      <ul class="tree-children" style="list-style-type:'\1F4C1'">
                        {% for group in category.child_groups %}
                          <li class="tree-node">
                            <span class="tree-node-toggle" onclick="toggleNode(this)">&#x25B6;</span>
                            {{ group.group_name }}
                            {% if group.child_skills %}
                              <ul class="tree-children" style="list-style-type:'&#x2B50;'" style="line-height:80%">
                                {% for skill in group.child_skills %}
                                  <li class="tree-node">{{ skill.skill_name }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Set the initial state of the toggle icons
      var toggles = document.querySelectorAll('.tree-node-toggle');
      toggles.forEach(function (toggle) {
        setToggleIcon(toggle);
      });
  
      // Add event listeners for toggling nodes
      toggles.forEach(function (toggle) {
        toggle.addEventListener('click', function () {
          var node = toggle.parentElement;
          var children = node.querySelector('.tree-children');
          var isCollapsed = children.style.display === 'none';
          children.style.display = isCollapsed ? 'block' : 'none';
          setToggleIcon(toggle);
        });
      });
    });
  
    function setToggleIcon(toggle) {
      var node = toggle.parentElement;
      var children = node.querySelector('.tree-children');
      var isCollapsed = children.style.display === 'none';
      toggle.innerHTML = isCollapsed ? '&#x25B6;' : '&#x25BC;';
    }
  </script>

{% endblock %}
