{% extends "base.html" %}

{% block title %}
    User_Sunburst
{% endblock %}

{% block content
    %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<body>
    <h1 align="center">Proficiency Sunburst Chart for {{ selected_user.first_name }} {{ selected_user.last_name }}.</h1>
    <br>
    <span style = "background-color:black ; color:#FFFFFF; font-size: 0.875em">&nbsp; 0-Not Evaluated &nbsp;</span>
    <span style = "background-color:#05106E ; color:#FFFFFF; font-size: 0.875em">&nbsp; 1-No Awareness &nbsp;</span>
    <span style = "background-color:#0A37A6 ; color:#FFFFFF; font-size: 0.875em">&nbsp; 2-Beginner / Learn &nbsp;</span>
    <span style = "background-color:#007DFF ; color:#FFFFFF; font-size: 0.875em">&nbsp; 3-Intermediate / Deliver &nbsp;</span>
    <span style = "background-color:#0CA4EB ; color:#FFFFFF; font-size: 0.875em">&nbsp; 4-Advanced / Perform &nbsp;</span>
    <span style = "background-color:#0DE0FF ; color:#FFFFFF; font-size: 0.875em">&nbsp; 5-Expert / Coach &nbsp;</span>
    <br>
    <br>
    This sunburst chart displays user's proficiency for all skills.
    Click on an inner circle to filter the chart.
    <br>
    <br>
    <div id='chart' class='chart'”></div>
    <br>
    <br>
</body>
   
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>

    {% endblock %}